@font-face {
    font-family: 'gordita-regular';
    src: url('fonts/gordita-regular-webfont.woff2') format('woff2'),
         url('fonts/gordita-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gordita-light';
    src: url('fonts/gordita-light-webfont.woff2') format('woff2'),
         url('fonts/gordita-light-webfont.woff') format('woff');
    font-weight: 200;
    font-style: normal;

}

@font-face {
    font-family: 'gordita-medium';
    src: url('fonts/gordita-medium-webfont.woff2') format('woff2'),
         url('fonts/gordita-medium-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;

}

@font-face {
    font-family: 'gordita-bold';
    src: url('fonts/gordita-bold-webfont.woff2') format('woff2'),
         url('fonts/gordita-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}

:root {
  --white: #FFFFFF;
  --black: #000000;
  --dark: #222222;
  --light: #EEEEEE;
  --green: #18BE00;
  --green-punch: #18BE00;
  --navy: #0F2832;
}

.white, a.white{
	color: var(--white);
}

.black, a.black{
	color: var(--black);
}

.dark, a.dark{
	color: var(--dark);
}

.light, a.light{
	color: var(--light);
}

html{scroll-behavior: smooth;}
body{ font-family: 'gordita', sans-serif; margin:0; padding:0;}
*{box-sizing: border-box;}

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{font-weight: normal; line-height: 1.4}

g:last-child g:last-child g path[stroke-linejoin="round"]{stroke:var(--green-punch);}

g:last-child g:first-child g:first-child path[stroke-linejoin="round"]{stroke:var(--green-punch);}

.follow-nav {
	padding:20px;
	position: absolute;
	max-width: 64rem;
	width:100%;
	left:50%;
	top:40px;
	transform: translateX(-50%);
}

.fixed{
	position: fixed;
}

.follow-nav a{
	color:var(--black);
	text-decoration: none;
	opacity: .75;
	font-weight: 200;
	position: relative;
	display: inline-block;
	margin-bottom:12px;
	margin-top:0;
	transition: .2s ease margin-top;

}
.follow-nav a.active{
	opacity: 1;
	font-weight: 500;
	margin-top:10px;
	
}
.follow-nav a:after{
	position: absolute;
	top:-10px;
	left:0;
	width:0%;
	height:2px;
	background:var(--green-punch);
	display: block;
	content:" ";
	transition: .2s ease width;
}
.follow-nav a.active:after{
	width:100%;
}

.hero{height:80vh; background:var(--green-punch); width:100%; overflow: hidden; position: relative;}
.hero video{object-fit: cover; width:100%; height:100%;}
.hero img{position: absolute; width:400px; top:0; right:0;}

.section{
	height:80vh;
	background:var(--light);
	margin-top:20px;
	margin-bottom:20px;
	border-radius:10px;
	padding:0 20px;
}