@font-face {
    font-family: 'gordita-regular';
    src: url('fonts/gordita-regular-webfont.woff2') format('woff2'),
         url('fonts/gordita-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gordita-light';
    src: url('fonts/gordita-light-webfont.woff2') format('woff2'),
         url('fonts/gordita-light-webfont.woff') format('woff');
    font-weight: 200;
    font-style: normal;

}

@font-face {
    font-family: 'gordita-medium';
    src: url('fonts/gordita-medium-webfont.woff2') format('woff2'),
         url('fonts/gordita-medium-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;

}

@font-face {
    font-family: 'gordita-bold';
    src: url('fonts/gordita-bold-webfont.woff2') format('woff2'),
         url('fonts/gordita-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}

:root {
  --white: #FFFFFF;
  --black: #000000;
  --dark: #222222;
  --light: #EEEEEE;
  --green: #18BE00;
  --green-punch: #18BE00;
  --navy: #0F2832;
  --mint: #F0F7F3;
}

.white, a.white{
	color: var(--white);
}

.black, a.black{
	color: var(--black);
}

.dark, a.dark{
	color: var(--dark);
}

.light, a.light{
	color: var(--light);
}

.bg-dark{
	background-color:var(--navy);
	color:var(--white);
}

html{scroll-behavior: smooth;}
body{ font-family: 'gordita', sans-serif; margin:0; padding:0;}
body a{color:var(--navy); text-decoration: none;}
*{box-sizing: border-box;}

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{font-weight: normal; line-height: 1.5}

.slab{font-family: 'Roboto Slab', serif; font-weight: 100;}

.follow-nav {
	padding:20px;
	position: absolute;
	max-width: 64rem;
	width:100%;
	left:50%;
	top:40px;
	transform: translateX(-53%);
	position: fixed;
}

.follow-nav a{
	color:var(--black);
	text-decoration: none;
	opacity: .75;
	font-weight: 200;
	position: relative;
	display: inline-block;
	margin-bottom:12px;
	margin-top:0;
	transition: .2s ease margin-top;

}
.follow-nav a.active{
	opacity: 1;
	font-weight: 500;
	margin-top:10px;
}
.follow-nav li:first-child a.active{
	margin-top:0;
}

.follow-nav a:after{
	position: absolute;
	top:-10px;
	left:0;
	width:0%;
	height:2px;
	background:var(--green-punch);
	display: block;
	content:" ";
	transition: .2s ease width;
}
.follow-nav a.active:after{
	width:100%;
}

.bg-dark {position: relative;}
.clipper{position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    clip: rect(0, auto, auto, 0);}
.bg-dark .follow-nav a{
	color:var(--white);
}

.hero{
	height:80vh;
	background:var(--green-punch) url(../images/hero-bg.jpg) no-repeat center center;
	background-size:cover;
	width:100%;
	overflow: hidden;
	position: relative;
	z-index: 10;
}

.hero img{position: absolute; width:400px; top:0; right:0;}
.hero img.second{opacity:0; transform: translateY(20px); animation: hero .4s ease forwards; animation-delay:2.5s;}

.section{
	height:80vh;
	position: relative;
}

.slides .slide{
	width:100%;
}

.slides .content{
	background-color:var(--white);
	color:var(--navy);
}

.slides .fit{
	height: 250px;
}

.cards{
	position: absolute;
	bottom:0;
	transform: translateY(50%);
}

.card{
	background-color: var(--white);
	transition: .3s ease all;
	position: relative;
	color:var(--navy);
}

.card a, .card .lottie{
	position: relative;
	z-index: 2;
}

.card.active .shade{
	position: absolute;
	content:" ";
	display: block;
	position: absolute;
	top:-1.5rem; 
	left:0;
	right:0;
	bottom:0;
	background-color:var(--mint);
}

.card .fit{
	height: 80px;
}

.card:not(.active):hover{
	cursor: pointer;
}

.card:not(.active):hover a
{
	color:var(--green-punch);
}

@keyframes hero {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes scale {
  to {
    transform: scale(1.2);
  }
}

@media screen and (min-width:64em){

	h2, .h2{font-size:2.2rem;}

	.max-width-4{padding-left:4rem; padding-right:4rem;}
	.mb4{margin-bottom:6rem;}
}