@font-face {
    font-family: 'gordita';
    src: url('../fonts/gordita-regular-webfont.woff2') format('woff2'),
         url('../fonts/gordita-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gordita-light';
    src: url('../fonts/gordita-light-webfont.woff2') format('woff2'),
         url('../fonts/gordita-light-webfont.woff') format('woff');
    font-weight: 200;
    font-style: normal;

}

@font-face {
    font-family: 'gordita-medium';
    src: url('../fonts/gordita-medium-webfont.woff2') format('woff2'),
         url('../fonts/gordita-medium-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;

}

@font-face {
    font-family: 'gordita-bold';
    src: url('../fonts/gordita-bold-webfont.woff2') format('woff2'),
         url('../fonts/gordita-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}

:root {
  --white: #FFFFFF;
  --black: #000000;
  --dark: #222222;
  --light: #F3F4F4;
  --green: #18BE00;
  --green-punch: #18BE00;
  --navy: #0F2832;
  --mint: #F0F7F3;
  --steel: #849399;
}

.white, a.white{
	color: #FFFFFF;
}

.black, a.black{
	color: #000000;
}

.dark, a.dark{
	color: #222222;
}

.bg-dark{
	background-color:#0F2832;
	color:#FFFFFF;
}
.bg-dark a{
	color:#FFFFFF;
}
.bg-white{
	background-color: #FFFFFF;
	color:#222222;
}
.bg-light{
	background-color:#F3F4F4;
}
.bg-green{
	background-color:#18BE00;
	color:#FFFFFF;
}

.green, a.green, .green a{
	color:#18BE00;
}

.steel{
	color:#849399;
}

html{scroll-behavior: smooth;}
body{ font-family: 'gordita', sans-serif; margin:0; padding:80px 0 0 0;}
body a{color:#0F2832; text-decoration: none;}
*{box-sizing: border-box;}
.uppercase{text-transform: uppercase;letter-spacing: 1.33px;}
.line-height-0{line-height: 0}
.line-height-1{line-height: 1}
.max-width-4{max-width: 72rem;}


h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{font-weight: normal; line-height: 1.5}
.h3.uppercase{ line-height: 1.35}
p{line-height: 1.5; font-weight: 200;}
.bold{font-family: 'gordita-bold'; font-weight: bold;}
.medium{font-family: 'gordita-medium';}
.light{font-family: 'gordita-light'; font-weight: 200}
.regular{font-family: 'gordita'; font-weight: 200}
.small{font-size:.65rem;}
.big{font-size: 4.70rem; letter-spacing: -1.5px; line-height:1.2;}
.quote {
  quotes: "“" "”" "‘" "’";
  position: relative;
}
.quote:before {
    content: open-quote;
    position: absolute;
    left: -9px;
   
}
.quote:after {
    content: close-quote;
}
@media screen and (min-width:52em){
	.quote:before {
	    left: -16px;
	   
	}
}

.cta,.h3.cta{font-family: 'gordita-medium'; display: inline-block; color:#18BE00; border-bottom:3px solid #18BE00; font-weight: 500; transition: .3s ease color; letter-spacing: -0.5px;}
.home-hero .cta{font-size: 1.6rem;}
.cta:hover{color:#0F2832;}
.cta.black{color:#000000; border-bottom-color: #000000;}
.cta.black:hover{color:#18BE00;}
.cta.light{font-weight: 100; border-width:1px;}

.serif{font-family: 'gordita-medium', serif; font-weight: 100;}

/** MAIN NAV **/
header.main{
	background:#FFFFFF;
	position: fixed;
	z-index: 10;
	width:100%;
	height:80px;
	top:0;
	left:0;
	right:0;
}

.logo {
	font-family: "gordita-medium";
	font-size: 1.4rem;
	line-height: 80px;
	height:80px;
	letter-spacing: -0.5px;
	position: relative;
}
.logo a, header.main .button{
	position: relative;
	z-index: 10;
}

@media screen and (min-width:72em){
	.logo {
		font-size: 1.6rem;
	}
}

.logo span{
	color:#18BE00;
}
header.main .button{
	height: 80px;
	padding:0 2rem;
	font-family: "gordita-medium";
	display: inline-block;
	line-height: 80px;
}
header.main .button:hover{
	background:#0F2832;
}
/** END OF MAIN NAV **/

/** WP NAV **/

.main-navigation{
	display: none;
}

.main-navigation ul{
	list-style: none;
	margin:0 0 2rem 0;
	padding:0rem;
}

.main-navigation.open{
	padding:2rem;
	box-shadow: 0 40px 40px 0 rgba(0,0,0,0.2);
	width:100%;
	min-height: 70vh;
	overflow: scroll;
	background: #FFFFFF;
	top:80px;
	left:0;
	display: block;
}
.main-navigation.open a{
	padding:.25rem 0;
	display: block;
}
.main-navigation.open .sub-menu{
	padding-left:0;
	font-family: "gordita-light";
}

.main-navigation .sub-menu li a{
	white-space: nowrap;
}
.main-navigation .sub-menu li:hover a{
	color:#18BE00;
}

@media screen and (min-width:52em){

	.main-navigation{
		box-shadow: none;
		top:auto;
		display: block;
		padding:0 2rem;
	}

	.menu-trigger{
		display: none;
	}

	.main-navigation .menu-item-has-children{
		float:left;
		position: relative;
		padding-right:2rem;
	}
	.main-navigation .menu-item-has-children:hover a{
		position: relative;
		z-index: 2;
	}

	.main-navigation{
		width:100%;
		max-width:72rem;
		left:50%;
		transform: translateX(-50%);
		line-height: 80px;
	}
	.main-navigation ul{
		padding:0;
		list-style: none;
		margin:0;
	}
	.main-navigation .sub-menu{
		position: absolute;
		left: 0;
		padding: 0;
		list-style: none;
		height: 1px;
		width: 1px;
		overflow: hidden;
		clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
		clip: rect(1px, 1px, 1px, 1px);
		font-family: "gordita-light";
	}
	.menu-item-has-children:hover .sub-menu {
	  width: auto;
	  min-width: 140px;
	  height: auto;
	  clip: auto;
	  top:0px;
	  padding-top:80px;
	  overflow: visible;
	}
	.menu-item-has-children:hover .sub-menu:before{
		box-shadow: 0 0 40px 0 rgba(0,0,0,0.2);
		content:" ";
		display: block;
		position: absolute;
		top:0;
		left:-1.5rem;
		right:-1.5rem;
		bottom:-1.5rem;
		background: #FFFFFF;
		z-index: 1;
	}
	.main-navigation .sub-menu li{
		line-height: 34px;
		position: relative;
		z-index: 2;
		
	}
	
}

@media screen and (min-width:72em){

	.main-navigation{
		padding:0;
	}
}

/** END OF WP NAV **/

/** FOOTER */
footer{
	font-size: 1rem;
}
footer .logo{
	line-height: 1;
	height: auto;
}
footer p{
	margin:.25rem 0;
}
/** END OF FOOTER */

.follow-nav {
	padding:20px 0 0 2rem;
	max-width: 72rem;
	width:100%;
	left:50%;
	top:100px;
	transform: translateX(-50%);
	position: fixed;
	pointer-events: all;
	display: none;
}

.follow-nav a{
	color:#000000;
	text-decoration: none;
	opacity: .75;
	font-family: "gordita-light";
	position: relative;
	display: inline-block;
	margin-bottom:12px;
	margin-top:0;
	transition: .2s ease margin-top;

}
.follow-nav a.active{
	opacity: 1;
	font-family: "gordita-medium";
	margin-top:10px;
}
.follow-nav li:first-child a.active{
	margin-top:0;
}

.follow-nav a:after{
	position: absolute;
	top:-10px;
	left:0;
	width:0%;
	height:2px;
	background:#18BE00;
	display: block;
	content:" ";
	transition: .2s ease width;
}
.follow-nav a.active:after{
	width:100%;
}

.button{
	padding:1.5rem 2rem;
	transition: .2s ease background;
}
.button.bg-dark:hover{
	background-color: #18BE00;

}

.button.linkedin{
	padding:1.5rem 1rem 1.5rem 60px;
}
.button.bg-dark.linkedin:before{
	position: absolute;
	display: block;
	content:" ";
	top:0;
	left:0;
	bottom:0;
	width:44px;
	border-right:1px solid #000000;
	background: url(../icons/icon-linkedin.svg) no-repeat center 40%;
	background-size:14px auto;
}
.button.bg-dark.linkedin:hover:before{
	border-right:1px solid rgba(0,0,0,0.2);
}

.home .bg-dark {position: relative;}


.clipper{position: absolute;
	pointer-events: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    clip: rect(0, auto, auto, 0);}
.bg-dark .follow-nav a, .shade .follow-nav a{
	color:#FFFFFF;
}

@media screen and (min-width: 54em){
	.follow-nav {
		display: block;
	}
}

@media screen and (min-width: 72em){
	.follow-nav {
		padding:20px 0 0 0;
	}
}

/** HOME HERO **/
.home-hero{
	height:90vh;
	background-color: #F3F4F4;
	background-size:cover;
	background-repeat: no-repeat;
	background-position: center center;
	width:100%;
	overflow: hidden;
	position: relative;
	z-index: 5;
}
.home-hero .content{
	position: relative;
}
.home-hero .content:after{
	content:" ";
	display: block;
	position: absolute;
	background-color:#FFFFFF;
	left:0;
	bottom:0;
	width:10000px;
	height:10000px;
	z-index: 1;
}
.home-hero p, .home-hero a{
	position: relative;
	z-index: 2;
}
.home-hero .hold{
	display: inline-block;
	width:0;
	opacity: 0;
}
/** END OF HOME HERO **/

/** HOME PAGE NAV **/

.section:before, #intro:before{
	content:" ";
	display: block;
	height: 80px;
}

@media screen and (max-width: 52em){
	#help.section:before{
		display: none;
	}
}

/** END OF HOME PAGE NAV **/

/** TESTIMONIALS **/

.testimonials{
	
}

.testimonial cite{
	font-style: normal;
	padding-left: 4rem;
	position: relative;
	display: block;
	margin-bottom:2rem;
}
.testimonial .avatar{
	position: absolute;
	top:0;
	left:0;
	width:3rem;
	height: 3rem;
	background-size: cover;
	background-position: 50% 50%;
	border-radius: 100%;
}

#testimonials .flickity-viewport{
	overflow:visible;
}

/** PLATFORM **/

.platform .slides .slide{
	width:100%;
	margin-right:20px;
}

.platform .slides .content{
	background-color:#FFFFFF;
	color:#0F2832;
}

.platform .slides .fit{
	height: 250px;
}

.platform .cards{
	bottom:0;
	transform: translateY(50%);
}

.platform .card{
	background-color: #F3F4F4;
	color:#0F2832;
	width:16.67%;
	padding:2.5rem 1rem 2rem;
	z-index: 2;
}

.platform .flickity-page-dots{
		display: none;
	}

.platform .card a, .platform .card .lottie{
	position: relative;
	z-index: 2;
	color:#0F2832;
}

.platform .card.is-nav-selected{
	z-index: 3;
}
.platform .card .shade{
	position: absolute;
	content:" ";
	display: block;
	position: absolute;
	top:0rem; 
	left:0rem;
	right:0rem;
	bottom:0rem;
	background-color:#F3F4F4;
	opacity: 1;
	box-shadow: 0 0 0 0 rgba(0,0,0,0.0);
	border-top:6px solid #F3F4F4;
	transition: .1s ease all;
}

.platform .card.is-nav-selected .shade{
	top:-1.5rem;
	bottom:-1.5rem;
	background-color:#FFFFFF;
	box-shadow: 0 0 40px 0 rgba(0,0,0,0.2);
	border-top-color: #18BE00;
}

.platform .card .fit{
	height: 40px;
}

.platform .card:not(.active):hover{
	cursor: pointer;
}

.platform .card:not(.active):hover a
{
	color:#18BE00;
}


@media screen and (min-width: 72em){
	.slides path{
		stroke:#FFFFFF;
	}
	.slides path[stroke="rgb(24,190,0)"]{
		stroke:rgb(24,190,0);
	}
	.slides path[stroke="rgb(15,40,50)"]{
		stroke:#FFFFFF;
	}
	.slides path[fill="rgb(57,64,66)"]{
		fill:#FFFFFF;
	}
	.slides path[fill="rgb(24,190,0)"]{
		stroke:rgb(15,40,50);
	}
	.platform .flickity-viewport{
		overflow: visible;
	}


}
@media screen and (max-width: 52em){
	#platform.mb4{
		margin-bottom:0;
	}
	#platform #how.mb3{
		margin-bottom:0;
	}
	.platform .order-2 {
		background-color:#FFFFFF;
	}
	.platform .slides .cta{
		margin-bottom: 0;
		margin-top: 0;
	}
	.platform .slides{
		margin-top:2rem;
	}
	.platform .slides .content{
		padding-top:1rem;
		padding-right: 2rem;
		padding-left: 2rem;
	}
	.platform .slides .fit{
		padding: 2rem 1rem .5rem;
		height: 160px;
	}
	.platform .slides .fit#automatedSlideAnimation{
		padding: 2rem 1rem .5rem;
		height: 140px;
	}
	.platform .h3.pt3{
		padding-top:0;
	}
	.platform .flickity-page-dots{
		display: block;
		bottom:auto;
		top:20px;
	}
	.platform .flickity-page-dots .dot{
		background-color: white;
	}
	.platform .flickity-page-dots .dot.is-selected{
		background-color: #18BE00;
	}

}
/** END OF PLATFORM **/

/** WHO WE HELP **/

.who-we-help{
	position: relative;
	padding:4rem 0;
}
.who-we-help .accordion{
	position: relative;
	z-index: 2;
}
.who-we-help .item:not(:last-child){
	border-bottom:2px solid #F3F4F4;
}
.who-we-help .item:last-child{
	margin-bottom: 0;
	padding-bottom: 0;
}
.who-we-help .item .help-title{
	background:url(../icons/icon-arrow-down.svg) no-repeat right 50%;
	cursor: pointer;
	opacity:0.5;
}
.who-we-help .item.active .help-title{
	background:none;
	opacity:1.0;
	cursor: default;
}
.who-we-help .content{
	display: none;
}
.who-we-help .active .content{
	display: block;
}
.who-we-help .shade{
	position: absolute;
	top:0rem;
	bottom:0rem;
	left:-12rem;
	right:0;
	display: block;
	z-index: 1;
	background-size: cover;
	background-position: top center;
}
.who-we-help .feature-photo{
	position: relative;
	width: 100%;
	padding-top:45%;
	opacity: 0;
	display: none;
	background-size: cover;
	background-position: center center;
}
.who-we-help .active .feature-photo{
	opacity: 1;
	display: block;
}
@media screen and (min-width:72em){
	.who-we-help .feature-photo{
		position: absolute;
		top:4rem;
		bottom:4rem;
		right:-50%;
		left:75%;
		background-position: top center;
		z-index: 2;
		opacity:0;
		padding-top:0;
		width:auto;
	}
	.who-we-help .active .feature-photo{
		opacity: 1;
	}
	.who-we-help .shade{
		right:16.25%;
	}
	.who-we-help .accordion.p3{
		padding:4rem;
	}
}
/** END OF WHO WE HELP **/


/** LOGO GRID **/
.logo-grid img{
	filter: grayscale(100%);
}
.logo-grid .study{
	position: relative;
}
.logo-grid .study a{
	opacity: 0;
	text-align: center;
	display: inline-block;
	position: absolute;
	transform: translate(-50%, -15px);
	transition: .2s ease all;
	z-index: 2;
	color:#222222;
	border-bottom: 2px solid #222222;
	font-family: "gordita-medium";
	left:50%;
}
.logo-grid .study:hover{
	cursor: pointer;
}
.logo-grid .study:hover a{
	opacity: 1;
	transform: translate(-50%, -20px);
}
.logo-grid .study img{
	transform: translateY(0px);
	transition: .2s ease all;
	z-index: 2;
	position: relative;
}
.logo-grid .study:hover img{
	transform: translateY(-5px);
}
.logo-grid .study:after{
	box-shadow: 0 0 40px 0 rgba(0,0,0,0.15);
	background: #FFFFFF;
	content:" ";
	position: absolute;
	display: block;
	left:-.75rem;
	right:-.75rem;
	top:-.75rem;
	bottom:-.75rem;
	z-index: 1;
	opacity:0;
	transition:.3s ease opacity;
}
.logo-grid .study:hover:after {
	opacity:1;
}
.logo-grid .study:hover img{
	filter: grayscale(0%);
}
.logo-grid .flickity-viewport{
	overflow: visible;
}
@media screen and (min-width: 68rem){
	.logo-grid .carousel{
		margin:0 0 0 -3rem;
	}
	.logo-grid .flickity-page-dots{
		left:3rem;
	}
}
/** END OF LOGO GRID **/

/** CONTACT FORM **/

.contact-form{
	position: relative;
	pointer-events: none;
}
.contact-form .inner{
	z-index: 2;
	position: relative;
}
.contact-form .feature-image{
	position: absolute;
	top:20rem;
	left:0;
	bottom:0;
	right:0;
	background-size: cover;
	background-position: center center;
	z-index: 1;
}
.contact-form iframe{
	width:100%;
	height: 640px;
	pointer-events: all;
}
/** END OF CONTACT FORM **/

/** RESPONSIVE STUFF **/
@media screen and (max-width:72em){
	.max-width-4{
		padding-right:2rem;
		padding-left:2rem;
	}
	header.main .max-width-4{
		padding-right:0;
	}
}


/** PAGE HERO **/
.page-hero{
	background-size: cover;
	background-position: center center;
	overflow: hidden;
	position: relative;
}
.page-hero .content{
	position: relative;
}
.page-hero .content:after{
	content:" ";
	display: block;
	position: absolute;
	background-color:#FFFFFF;
	right:0;
	bottom:0;
	width:10000px;
	height:10000px;
	z-index: 1;
}
.page-hero p, .page-hero a{
	position: relative;
	z-index: 2;
}
@media screen and (max-width:40em){
	.home-hero .big, .page-hero .big{
		font-size:2.5rem;
	}
	.sm-p2{
		padding:2.5rem;
	}
	.home-hero .cta{
		font-size:1.25rem;
	}
}
@media screen and (max-width:24em){
	.home-hero .big, .page-hero .big{
		font-size:2rem;
	}
	.sm-p2{
		padding:1.5rem;
	}
	.home-hero .cta{
		font-size:1rem;
	}
}
/** END OF PAGE HERO**/

/** STATS **/
.stats .stat{
	position: relative;
}
.stats .stat:before{
	content: " ";
	display: block;
	position: absolute;
	top:0;
	left:1rem;
	right:10rem;
	height:2px;
	background-color:#18BE00;
	
}
.stats .stat.active:before{
	animation:line .3s ease forwards;
}
.stats .stat:nth-child(1).active:before{
	animation-delay:.2s;
}
.stats .stat:nth-child(2).active:before{
	animation-delay:.4s;
}
.stats .stat:nth-child(3).active:before{
	animation-delay:.6s;
}
.stats .stat:nth-child(4).active:before{
	animation-delay:.8s;
}
.stats .stat:nth-child(5).active:before{
	animation-delay:1s;
}

@keyframes line {
  to {
    right:1rem;
	}
}
/** END OF STATS **/

/** PEOPLE **/
@media screen and (max-width: 40em){
	.person {padding-right:6rem;}
}
/** END OF PEOPLE **/

/** ALL FLICKITY **/
.flickity-page-dots{
	text-align: left;
}
/** END ALL FLICKITY **/

/** FLICKITY 3-UP **/
.flickity-3{
	position: relative;
}
.flickity-3 .carousel-cell {
  width: 17%;
  margin:80px 5% 80px 0;
  counter-increment: gallery-cell;
  position: relative;
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
  transition: .4s ease box-shadow;
  float:left;
  position: relative;
  padding:.5rem .5rem;
}
.flickity-3 .flickity-viewport{
	overflow: visible;
}
.flickity-3 .carousel{
	overflow: hidden;
	margin:0 -6rem;
	padding:0 4.5rem;
}

.flickity-3 .carousel-cell img{
	filter: grayscale(100%);
	max-width: 100%;
	position: relative;
	z-index: 2;
}
.flickity-3 .carousel-cell:after{
	box-shadow: 0 0 40px 0 rgba(0,0,0,0.15);
	background: #FFFFFF;
	content:" ";
	position: absolute;
	display: block;
	left:-2.5rem;
	right:-2.5rem;
	top:-2.5rem;
	bottom:-2.5rem;
	z-index: 1;
	opacity:0;
	transition:.3s ease opacity;
}
.flickity-3 .carousel-cell:hover:after {
	opacity:1;
}
.flickity-3 .carousel-cell:hover img{
	filter: grayscale(0%);
}
.flickity-3 .flickity-page-dots{
	text-align: left;
	bottom:0;
}
.flickity-page-dots .dot{margin:0 5px; width:8px; height:8px;}
@media screen and (max-width:40em){
	.flickity-3 .carousel-cell {
	  width: 42%;
	  margin:80px 5% 80px 5%;
	}
	.flickity-3 .carousel-cell:after{
		display: none;
	}
}
/** END OF FLICKITY 3-UP **/

/** PHOTO PARALLAX **/
.photo-parallax{
	position: relative;
	overflow: hidden;
}
@media screen and (min-width:72em){
	.photo-parallax .two{
		margin-left:-40%;
	}
	.photo-parallax .three{
		max-width:24rem;
		margin-left:10%;
		position: absolute;
	}
}

@media screen and (max-width: 52em){
	.photo-parallax .max-width-4{
		max-width: 100%;
		padding:0;
	}
	.photo-parallax .mb3{
		margin-bottom: .5rem;
	}
	.photo-parallax .px2{
		padding:0 .25rem;
	}
}
/** END OF PHOTO PARALLAX **/


@keyframes hero {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes scale {
  to {
    transform: scale(1.2);
  }
}



@media screen and (min-width:72em){

	h2, .h2{font-size:2.1rem;}
	.mb4{margin-bottom:6.5rem;}
	.platform.mb4{margin-bottom:20rem;}

}